## Visual Studio & .NET Cache / Temporary Files
.vs/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build caches & logs
*.cache
*.FileListAbsolute.txt
*.log

## User-specific files
*.rsuser
*.suo
*.userprefs
